{% load static %}

<section class="py-20">
    <div class="container">
        <div class="flex justify-center flex-wrap">
            {% for bundle in event.active_bundles.all %}
                {% include 'events/components/pricing_table.html' %}
            {% endfor %}
        </div>

{#            {% include 'events/components/pricing_table_premium.html' %}#}
    </div>
</section>


{#<div class="bundles">#}

{#        <div class="bundle">#}
{#            {% if bundle.is_sold_out %}#}
{#                <div class="bundle__sold-out">#}
{#                    <img src="{% static 'events/images/bell.svg' %}">#}
{#                    WYPRZEDANE#}
{#                </div>#}
{#            {% endif %}#}
{#            <p></p>#}
{#            <div class="price">#}
{#                <div class="big"> zł</div>#}
{#            </div>#}
{#            {{ bundle.content|safe }}#}
{#        </div>#}

{#</div>#}

{##}
{# Dla potomnych, wygląd pricing table #}

{#<div class="bundle">#}
{#    <p>STANDARD</p>#}
{#    <div class="price">#}
{#        <div class="big">599 zł</div>#}
{#    </div>#}
{#    <ul>#}
{#        <li>udział w całodniowej konferencji ***REMOVED*** 2.0</li>#}
{#        <li>udział we wszystkich sesjach networkingowych</li>#}
{#        <li>dostęp do Strefy Promocji Biznesu (stoiska wystawowe)</li>#}
{#        <li>dostęp do specjalnych ofert promocyjnych wystawców</li>#}
{#        <li>materiały promocyjne i reklamowe</li>#}
{#        <li>całodniowa przerwa kawowa i przekąskowa</li>#}
{#        <li>zimne drinki na czerwcową ochłodę ;)</li>#}
{#        <li>uroczysty obiad nad wodą w atmosferze górecznikowej przyrody</li>#}
{#        <li>bezpłatny parking</li>#}
{#        <li>dostęp do zamkniętej grupy przedsiębiorców na Facebooku</li>#}
{#    </ul>#}
{#</div>#}
{#<div class="bundle">#}
{#    <p>BIZNES PREMIUM</p>#}
{#    <div class="price">#}
{#        <div class="big">899 zł</div>#}
{#    </div>#}
{#    <ul>#}
{#        <li>udział w całodniowej konferencji ***REMOVED*** 2.0</li>#}
{#        <li>udział we wszystkich sesjach networkingowych</li>#}
{#        <li>dostęp do Strefy Promocji Biznesu (stoiska wystawowe)</li>#}
{#        <li>dostęp do specjalnych ofert promocyjnych wystawców</li>#}
{#        <li>materiały promocyjne i reklamowe</li>#}
{#        <li>całodniowa przerwa kawowa i przekąskowa</li>#}
{#        <li>zimne drinki na czerwcową ochłodę ;)</li>#}
{#        <li>uroczysty obiad nad wodą w atmosferze górecznikowej przyrody</li>#}
{#        <li>bezpłatny parking</li>#}
{#        <li>dostęp do zamkniętej grupy przedsiębiorców na Facebooku</li>#}
{#        <li>możliwość zamieszczenia w torbach reklamowych własnych materiałów reklamowych</li>#}
{#    </ul>#}
{#    <div>Wieczorna ***REMOVED***</div>#}
{#    <ul>#}
{#        <li>powitalny szampan</li>#}
{#        <li>doskonała atmosfera do nawiązania rozmów i znajomości biznesowych</li>#}
{#        <li>uroczysta, wieczorna kolacja przy świecach</li>#}
{#        <li>wyjątkowy klimat muzyczny (saksofon)</li>#}
{#        <li>pyszne wieczorne przekąski</li>#}
{#        <li>bezpłatne alkohole i dostęp do drinkbaru</li>#}
{#    </ul>#}
{#</div>#}