{% load thumbnail static %}
{% if event.event_partners.all.count %}
    <div id="partners" class="mt-10">
        <p class="text-center text-2xl mb-5">{{ event.partners_text }}</p>
        <div class="flex flex-wrap justify-center">
        {% for event_partner in event.event_partners.all %}
            <div class="m-2">
                {% if event_partner.partner.url %}
                    <a href="{{ event_partner.partner.url }}" target="_blank">
                        <img src="{% static 'blank.png' %}" data-src="{% thumbnail event_partner.partner.image 205x70 %}"
                             alt="{{ event_partner.partner.name }}" class="lazy">
                    </a>
                {% else %}
                    <img src="{% static 'blank.png' %}" data-src="{% thumbnail event_partner.partner.image 205x70 %}"
                         alt="{{ event_partner.partner.name }}" class="lazy">
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endif %}