<div class="max-w-sm w-full lg:max-w-full lg:flex mx-auto shadow-md">
            <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
                style="background-image: url('{{ event_speaker.speaker.image.url }}')"
                title="Woman holding a mug">
            </div>
            <div
                class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4">
                <div class="">
                    <a href="#"
                        class="text-gray-900 font-bold text-xl mb-2 hover:text-indigo-600 transition duration-500 ease-in-out">{{ event_speaker.speaker.name }}</a>
                    <p class="text-sm text-gray-600">
                        {{ event_speaker.speaker.description|safe }}
                    </p>

                    <div class="my-4 flex">
                        <!-- Social icons -->


                    </div>

                </div>

            </div>

        </div>